<div class="card">
  <div class="card-body px-0">
    <h2 class="card-title ml-2">Items</h2>
    <div class="row flex-wrap p-2">
      <div class="col-md-9">
        <input #input="ngModel" ngModel required placeholder="Type name here..." class="form-control">
      </div>
      <div class="col-md-3 mt-2 mt-md-0 ">
        <button (click)="onAddItem(input.value); input.reset();" [disabled]="!input.valid"
                class="btn btn-primary">
          Add New
        </button>
      </div>
    </div>
    <app-item *ngFor="let item of items$| async; let i = index;" [position]="i" [item]="item"></app-item>
  </div>
</div>
